a:link {
    color: white;
    background-color: blue;
}
a:visited {
    color: black;
    background-color: yellow;
}
a:hover {
    color: red;
    background-color: lightgreen;
}
a:active {
    color: white;
    background-color: darkorange;
}

h1::first-letter, h2::first-letter, h3::first-letter {
    font-size: 24px;
    color: rgb(21, 200, 36);
}

.first-paragraph::first-line {
    font-style: italic;
}

.special-paragraph::before {
    content: "★ ";
    color: red;
}
.special-paragraph::after {
    content: " ★";
    color: red;
}

::selection {
    background-color: black;
    color: #d3d3d3;
}
